{% extends "base.html" %}

{% block content %}
    <div class="container" style="margin-top:50px">
       <!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Lista de frases</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
            class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th class="text-center">Frase</th>
            <th class="text-center" colspan="2">Ações</th>
          </tr>
        </thead>
        <tbody>
            {% for f in frases %}
          <tr>
            <td class="pt-3-half">{{ f.frase}}</td>
            <td class="pt-3-half">
              <span class="table-remove"><a href="#"
                  class="btn btn-warning btn-rounded btn-sm my-0">Editar</a></span>
            </td>
            <td>
              <span class="table-remove"><a href="/frase/{{f.id}}"
                  class="btn btn-danger btn-rounded btn-sm my-0">Excluir</a></span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->

    </div>

{% endblock %}